extends ../layout

block content
  include ../../includes/site_banner.jade
  div#content
    div.row
      div.banner
        div.welcome
          h2 Welcome to Road Rage!
    div.rowTransparent
      div.col-40
        div.row
          h2 Sign in
        form#signInForm(action='/license_plate/sign_in' method = 'post')
          div
            label(for='email') Email Address
            input(type='text' id='email' autocomplete="off" name='email' value=(email)? email : '')
          div
            label(for='password') Password
            input(type='password' id='password' autocomplete="off" name ='password')
          div.buttonContainer
            input(type='submit' value='Sign In!' class='loginButton')
        div.orSignUpContainer
          a(href='/license_plate/sign_up') New here and want to rage? Sign up here!
      div.col-40
        div.row
          h2 What's Road Rage?
        div.entrySign
          p Road Rage is a way for you to post messages for other Road Rage registered drivers, just by knowing their license plate number! 
          ul With Road Rage you can:
            li Tell people to get off their phone and drive!
            li Tell that driver that you saw them picking their nose!
            li Thank that sweet person for letting you in this morning!
            li Tell someone you hit their car in the parking garage and trade info.

          
          
