extends ../layout

block content
  div#header
    h1 Road Rage!
  div#content
    div.row
      div.col-5
        a(href='/license_plate/sign_in') Sign in here!
        a(href='/license_plate/sign_up') Sign up here!
