extends ../layout

block content
  div#wrap
    div#navbar
      ul.navlist
        li.domain
          a(href='/') JaredCross.com
        li 
          a(href='/') Home
        li.active 
          a(href='/projects') Projects
          ul
            li
              a(href='/license_plate') License Plate Communicator
            li Coming Soon
  div#content
    div.row
      h1 License Plate Communicator!
  div#content
    div.row
      div
        a(href='/license_plate/sign_in') Sign in here!
      div
        a(href='/license_plate/sign_up') Sign up here!
