extends ../layout

block content
  include ../../includes/site_banner.jade
  div#content
    div.rowTransparent
      div.col-40
        div.row
          h2 Create a New Account!
        form.signUpForm(action='/license_plate/sign_up' method = 'post')
          div
            label(for='first_name') First Name
            input(type='text' id='first_name' autocomplete="off" name='first_name' value=(firstName)? firstName : '')
          div
            label(for='last_name') Last Name
            input(type='text' id='last_name' autocomplete="off" name='last_name' value=(lastName)? lastName : '')
          div
            label(for='email') Email Address
            input(type='text' id='email' autocomplete="off" name='email' value=(email)? email : '')
          div
            label(for='password') Password
            input(type='password' id='password' autocomplete="off" name ='password')
          div
            label(for='confirm') Confirm Password
            input(type='password' id='confirm' autocomplete="off" name='confirm')
          div
            input(type='submit' value='Create Account' class='create-button')
      if errorArray      
        div.col-40
          div.row
            h2 Errors
          ul.errorList
            for error in errorArray
              li= error
            
