extends ../layout

block content
  div#wrapper
    div#header
      h1.app
        a(href='http://lpc.jaredcross.com') Road Rage!
      h1.brand 
        a(href='http://jaredcross.com') jaredcross.com
    div#content
      div.row
        div.col-5
          form(action="/license_plate/" + userData._id + "/sendLPM" method = "post")
            div
              label(for='toLicensePlate') To License Plate:
              input(type="text" id="toLicensePlate" name="toLicensePlate")
            div
              label(for='lpMessage') Message: 
              textarea(id='lpMessage' name='lpMessage')
            
