extends ../layout

block content
  div#wrapper
    include ../../includes/site_banner.jade
    div#content
      div.row
        div.banner
          div.welcome
            h2 Send a License Plate Message!
          div.options
            p
              a(href='/license_plate/' + userData._id + '/register_lp') Register a License Plate 
      div.row
        div.messageFormContainer
          form(action="/license_plate/" + userData._id + "/sendLPM" method = "post")
            div
              label(for='toLicensePlate') To License Plate:
              input(type="text" id="toLicensePlate" name="toLicensePlate")
            div.stateSelectContainer  
              include ../../includes/select_state.jade
            div
              label(for='lpMessage') Message: 
              input(type='text' id='lpMessage' name='lpMessage' maxlength='60')
            div
              input(type='submit' value='Send Message' class='sendMessageButton')
            
