extends ../layout

block content
  include ../../includes/site_banner.jade
  div#content
    div.row
      div.banner
        div.welcome
          h2 Sign in to Road Rage!
    div.rowTransparent
      div.col-5
        div.row
          h2 Enter your login info
        p.columns Sign In!
        form.signIn(action='/license_plate/sign_in' method = 'post')
          div
            label(for='email') Email Address
            input(type='text' id='email' name='email' value=(email)? email : '')
          div
            label(for='password') Password
            input(type='password' id='password' name ='password')
          div.buttonContainer
            input(type='submit' value='Sign In!' class='loginButton')
      if errorArray      
        div.col-5
          p.columns Errors:
            ul
              for error in errorArray
                li= error
