extends ../layout

block content
  div#wrapper
    include ../../includes/site_banner.jade
    div#content
      div.row
        div.banner
          div.welcome
            h2 Welcome #{userData.firstName} #{userData.lastName}!
          div.options
            ul
              li Menu
                ul
                  li
                    a(href='/license_plate/'+ userData._id + '/register_lp') Manage License Plates
                  li Sent Messages
                  li 
                    a(href='/license_plate/logout') Logout
      div.rowTransparent
        div.col-40
          div.messagesContainerRow
            h4 License Plate Messages
            div.sendLPM
              p
                a(href="/license_plate/" + userData._id + "/sendLPM") Send a License Plate Message
          if (userData.messagesLPM.length > 0)
            for message, index in userData.messagesLPM  
              div.messageContainer
                form(action='/license_plate/'+userData._id+'/delete_lpmessage' method='post')
                  -var date = new Date(message.date)
                  textarea(name='plateMessage' readonly)= message.message + "\n\n" + date
                  input(type='hidden' name='hiddenID' value=message.id)
                  div.deleteMessageButtonContainer
                    input.deleteMsgButton(type='submit' value='Delete')
      
