extends ../layout

block content
  div#header
    h1.app
      a(href='http://lpc.jaredcross.com') Road Rage!
    h1.brand 
      a(href='http://jaredcross.com') jaredcross.com
  div#content
    h2 Welcome #{userData.firstName} #{userData.lastName}!
    p Your username is #{userData.emailAddress}
    
