extends ../layout

block content
  div#header
    div
      h1 Road Rage!
  div#content
    h2 Welcome #{userData.firstName} #{userData.lastName}!
    p Your username is #{userData.emailAddress}
    
