extends ../layout

block content
  div#wrapper
    include ../../includes/site_banner.jade
    div#content
      div.row
        div.banner
          div.welcome
            h2 Welcome #{userData.firstName} #{userData.lastName}!
          div.options
            p 
              a(href='/license_plate/' + userData._id + '/register_lp') Register a License Plate
      div.row
        div.innerRow
          div.sendDM
            p Send a Direct Message
          div.sendLPM
            p
              a(href="/license_plate/" + userData._id + "/sendLPM") Send a License Plate Message
        div.col-40
          h2 Direct Messages
        div.col-40
          h2 License Plate Messages
            if (userData.messagesLPM)
              for message in userData.messagesLPM
                div.messages= message
    div#footer
    
