extends ../layout

block content
  div#wrap
    div#navbar
      ul.navlist
        li.domain
          a(href='/') JaredCross.com
        li
          a(href='/') Home
        li.active
          a(href='/projects') Projects
          ul
            li
              a(href='/license_plate') License Plate Communicator
            li Coming Soon
  div#header
    div
      h1 License Plate Communicator
  div#content
    h2 Welcome #{userData.firstName} #{userData.lastName}!
    p Your username is #{userData.emailAddress}
    
