extends ../layout

block content
  div#wrapper
    include ../../includes/site_banner.jade
    div#content
      div.row
        div.banner
          div.welcome
            h2 Welcome #{userData.firstName} #{userData.lastName}!
          div.options
            p 
              a(href='/license_plate/' + userData._id + '/register_lp') Register a License Plate
      div.rowTransparent
        div.col-40
          div.messagesContainerRow
            h4 Direct Messages
            div.sendDM
              p
                a(href="/license_plate/" + userData._id + "/sendLPM") Send a Direct Message
        div.col-40
          div.messagesContainerRow
            h4 License Plate Messages
            div.sendLPM
              p
                a(href="/license_plate/" + userData._id + "/sendLPM") Send a License Plate Message
          if (userData.messagesLPM)
            for message in userData.messagesLPM
              div.messages= message
    
