/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*begin my css*/
/*************************************************
**************************************************
**************************************************/
body {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	min-height: 100%;
	background-color: white;
	cursor: default;
}

.error404 {
	font-size: 28px;
	font-weight: bold;
}

input[type='submit'] {
	background-color: rgb(58,86,131);
	color: white;
}

input[type='submit']:hover {
	background-color: #3cb0fd;
	color: white;
}

b {
	font-weight: bold;
}

#wrapper {
	position: relative;
	min-height: 100%;
}

#content {
  padding: 25px;
}

#header {
	background-color: #3A5683;
  color: white;
  overflow: hidden;
  width: 97.25%;
  height: 40px;
  padding: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
	clear: both;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
}

#spacer {
	height: 205px;
}

#footer {
	background: #3A5683;
	color: white;
	overflow: hidden;
	width: 100%;
	height: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	clear: both;
	bottom: 0;
	position: relative;
}

.app {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Carter One';
	float: left;
	margin-left: 8.5%;
}

.app a:link, .app a:visited {
	color: white;
	text-decoration: none;
}

.brand {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Carter One';
	text-align: right;
	float: right;
	margin-right: 2%;
}

.brand a:link, .brand a:visited {
	color: white;
	text-decoration: none;
}

h2 {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 20px;
}

.create-button {
  width: auto;
	cursor: pointer;
}

.buttonContainer {
	text-align: left;
}

.signIn .loginButton {
	width: auto;
	margin-left: 37%;
	cursor: pointer;
}


.row {
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
	margin-bottom: 20px;
	background-color: #3A5683;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
}

.row h2 {
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.rowTransparent {
	width: 100%;
	height: auto;
	padding: 20px;
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 20px;

}



.entrySign {
	text-align: left;
	margin-top: 50px;
	width: 90%;
	display: inline-block;
}



.entrySign h3 {
	font-weight: bold;
	font-size: 20px;
}

.entrySign a {
	cursor: pointer;
}

.entrySign p, .entrySign ul {
	text-align: left;
}

.entrySign ul {
	margin-top: 5%;
	list-style: circle;
}

.entrySign li {
	margin-left: 6%;
	margin-top: 1%;
}

.innerRow {
	width: 100%;
	height: auto;
	padding: 25px;
	box-sizing: border-box;
	display: inline-block;
	color: white;
}


.banner {
	margin-left: 7%;
	color: white;
	clear: both;
	height: auto;
	position: relative;
}

.options a:link, .options a:visited {
	color: lightgray;
	text-decoration: none;
}

.options a:hover, .options a:active {
	color: white;
}

.options {
	position: absolute;
	left: 80%;
	width: 20%;

}

.options li {
	text-align: center;
	cursor: default;
	z-index: 99;
}


.options li ul {
	display: none;
	height: auto;
	font-size: 12px;
	color: white;
	width: auto;
	margin-top: 3%;
}

.options li ul li {
	border: 1px solid black;
	min-height: 20px;
	text-align: center;
	padding: 3px;
	display: block;
	color: white;
}

.options li:hover ul, .options li:active ul {
	display: block;
	background-color: #3A5683;
}


.welcome {
	float: left;
}


.welcome h2 a:link, .welcome h2 a:visited {
	color: white;
	text-decoration: underline;
}

.welcome h2 a:hover span.description {
	background-color: white;
	opacity: .7;
	position: absolute;
	margin-left: .5%;
	color: black;
	font-size: 16px;
}

.description {
	opacity: 0;
}



.plate {
	color: white
}

.messagesContainerRow {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	display: inline-block;
	background-color: #3A5683;
	overflow: auto;
}

.messagesContainerRow h4 {
	min-width: 100%;
	display: inline-block;
	color: white;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 18px;
}

.sendDM {
	display: inline-block;
	border: 1px solid black;
	border-radius: 8px;
	width: auto;
	box-sizing: border-box;
	height: 5%;
	font-size: 14px;
	font-weight: bold;
	background-color: #EBF5EE;
	color: black;
	-webkit-box-shadow: -1px 1px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 10px 1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 10px 1px rgba(0,0,0,0.75);
	cursor: pointer;
	padding: 7px;
	margin-bottom: 1%;
}

.sendLPM {
	font-weight: bold;
	display: inline-block;
	width: auto;
	box-sizing: border-box;
	height: 5%;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 1%;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	color: #ffffff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.sendLPM:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.registerLPForm {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	background-color: white;
	text-align: left;
}

.registerLPForm input {
	width: 45%;
}

.registerLPForm label {
	display: inline-block;
	text-align: right;
	width: 40%;
	margin-left: 2%;
	margin-right: 1%;
}

.registerLPForm div {
	margin-top: 3%;
}

.registerLPForm .registerButton {
	width: auto;
	margin-left: 43%;
	cursor: pointer;
}

.registerLPForm h2 {
	margin-left: 7%;
}

.registerLPForm select {
	width: 10%;
}

.registerLPForm a {
	margin-left: 43%;
}

.registerLPForm p {
	color: black;
	font-size: 12px;
	margin-left: 43%;
}

.deleteLPForm {
	text-align: left;
	margin-top: 5%;
}

.deleteLPForm label {
	display: inline-block;
	width: 40%;
	text-align: right;
	margin-left: 2%;
	margin-right: 1%;
}

.deleteLPForm a {
	margin-left: 43%;
}

.deletePlateContainer {
	margin-bottom: 3%;
}

form .updateButton {
	margin-left: 0%;
	width: auto;
	cursor: pointer;
}

.signUpForm {
	text-align: left;
}

.signUpForm label {
	display: inline-block;
	width: 35%;
	text-align: right;
}

.signUpForm input {
	margin-left: 1%;
	width: 40%;
}

.signUpForm div {
	margin-top: 3%;
}

.signUpForm .create-button {
	margin-left: 36%;
	width: auto;
	cursor: pointer;
}

.signUpForm p {
	color: black;
	font-size: 12px;
	margin-left: 36%;
}

.instructions {
	margin-top: .5%;
}

/* for limiting size of state dropdown if desired
.stateSelectContainer {
	height: 10px;
	position: relative;
}
*/

.sendLPMForm {
	text-align: left;
}

.sendLPMForm label {
	display: inline-block;
	width: 25%;
	text-align: right;
	vertical-align: top;
}

.sendLPMForm select {
	width: 15%;
	margin-left: 0.5%;
}

.sendLPMForm input {
	width: 45%;
	margin-left: 1%;
}

.sendLPMForm div {
	margin-top: 3%;
}

.sendLPMForm p {
	font-size: 12px;
	color: black;
	margin-left: 26.5%;
}


.sendLPMForm a {
	margin-left: 26%;
}

.sendLPMForm textarea {
	resize: none;
	height: 60px;
	width: 45%;
	margin-left: 1%;
}

.sendLPMForm input[type=submit] {
	width: auto;
	margin-left: 26%;
	cursor: pointer;
}

.messageDisplayForm {
	height: auto;
	text-align: left;
	padding: 1%;
}

.messageDisplayP {
	margin-top: 2%;
}

.messageDisplayContainer {
	width: 80%;
	display: inline-block;
}

.deleteMessageButtonContainer {
	display: inline-block;
	height: auto;
	margin-right: 3%;
	width: auto;
}

.deleteMsgButton {
	width: auto;
	cursor: pointer;
}

.stateSelectContainer select {
	position: absolute;
}


.sendMessageButton {
	margin-left: 18%;
	cursor: pointer;
}




.deleteMsgButton {
	width: auto;
	cursor: pointer;
}

.messageContainer {
	clear: both;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	/*position: relative;*/
	margin-bottom: 5px;
	padding-bottom: 5px;
	height: auto;
}

.messageContainer textarea {
	width: 80%;
	border: none;
	height: 40px;
	resize: none;
	margin-bottom: 10px;
}

.col-40 {
  width: 48%;
  height: auto;
	min-height: 400px;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
  display:inline-block;
  float: left;
	margin-left: 1%;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
}

.errorList {
	color: red;
	list-style: circle;
	display: inline-block;
	text-decoration: none;
	margin-top: 5px;
	padding: 0;
	margin: 0 auto;
}

.errorList li {
	text-align: left;
}

.col-40 h2 {
	text-align: center;
	margin-top: 20px;
}

.col-40 h3 {
	text-align: center;
	margin-top: 20px;
	color: black;
}

#signInForm {
	text-align: left;
	width: auto;
}

#signInForm label {
	display: inline-block;
	margin-left: 15%;
	width: 20%;
	text-align: right;
}

#signInForm input {
	width: 40%;
	margin-left: 1%;
}

#signInForm div {
	margin-top: 5%;
}

#signInForm .loginButton {
	width: auto;
	margin-left: 36%;
	cursor: pointer;
}

.orSignUpContainer {
	padding-top: 10%;
	display: inline-block;
	margin: 0 auto;
}
