/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*begin my css*/
/*************************************************
**************************************************
**************************************************/
body {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	min-height: 100%;
	background-color: white;
}

#wrapper {
	position: relative;
	min-height: 100%;
}

#content {
  padding: 25px;
}

#header {
	background-color: #3A5683;
  color: white;
  overflow: hidden;
  width: 97.25%;
  height: 40px;
  padding: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
	clear: both;
}

#spacer {
	height: 205px;
}

#footer {
	background: #3A5683;
	color: white;
	overflow: hidden;
	width: 100%;
	height: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	clear: both;
	bottom: 0;
	position: relative;
}

.app {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Carter One';
	float: left;
	margin-left: 8.5%;
}

.app a:link, .app a:visited {
	color: white;
	text-decoration: none;
}

.brand {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Carter One';
	text-align: right;
	float: right;
	margin-right: 2%;
}

.brand a:link, .brand a:visited {
	color: white;
	text-decoration: none;
}

.options a:link, .options a:visited {
	color: white;
	text-decoration: none;
}

h2 {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 20px;
}

.create-button {
  width: auto;
}

.buttonContainer {
	text-align: left;
}

.signIn .loginButton {
	width: auto;
	margin-left: 37%;
}


.row {
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
	margin-bottom: 20px;
	background-color: #3A5683;
}

.row h2 {
	color: white;
}

.rowTransparent {
	width: 100%;
	height: auto;
	padding: 20px;
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 20px;

}



.entrySign {
	text-align: left;
	margin-top: 50px;
	width: 90%;
	display: inline-block;
}



.entrySign h3 {
	font-weight: bold;
	font-size: 20px;
}

.entrySign a {
	cursor: pointer;
}

.entrySign p, .entrySign ul {
	text-align: left;
}

.entrySign ul {
	margin-top: 5%;
	list-style: circle;
}

.entrySign li {
	margin-left: 6%;
	margin-top: 1%;
}

.innerRow {
	width: 100%;
	height: auto;
	padding: 25px;
	box-sizing: border-box;
	display: inline-block;
	color: white;
}


.banner {
	margin-left: 7%;
	color: white;
	clear: both;
	height: auto;
	position: relative;
}

.options {
	position: absolute;
	left: 80%;
	width: 20%;
}

.options li {
	text-align: center;
}


.options li ul {
	display: none;
	height: auto;
	font-size: 12px;
	color: white;
	width: auto;
	margin-top: 3%;
}

.options li ul li {
	border: 1px solid black;
	min-height: 20px;
	text-align: center;
	padding: 3px;
	display: block;
}

.options li:hover ul {
	display: block;
	background-color: #3A5683;
}

.welcome {
	float: left;
}

.welcome p {
	margin-top: 1%;
}

.plate {
	margin-top: 1%;
	color: white
}


.options a:link, .option a:visited {
	text-decoration: none;
	color: white;
}

.messagesContainerRow {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	display: inline-block;
	background-color: #3A5683;
	overflow: auto;
}

.messagesContainerRow h4 {
	min-width: 100%;
	display: inline-block;
	color: white;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 18px;
}

.sendDM {
	display: inline-block;
	border: 1px solid black;
	border-radius: 8px;
	width: auto;
	box-sizing: border-box;
	height: 5%;
	font-size: 14px;
	font-weight: bold;
	background-color: #EBF5EE;
	color: black;
	-webkit-box-shadow: -1px 1px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 10px 1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 10px 1px rgba(0,0,0,0.75);
	cursor: pointer;
	padding: 7px;
	margin-bottom: 1%;
}

.sendLPM {
	display: inline-block;
	border: 1px solid black;
	border-radius: 8px;
	width: auto;
	box-sizing: border-box;
	height: 5%;
	font-size: 14px;
	font-weight: bold;
	background-color: #EBF5EE;
	color: black;
	-webkit-box-shadow: -1px 1px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 10px 1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 10px 1px rgba(0,0,0,0.75);
	cursor: pointer;
	padding: 7px;
	margin-bottom: 1%;
}

.registerLPForm {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	display:inline-block;
	background-color: white;
	text-align: left;
}

.registerLPForm input {
	width: 45%;
}

.registerLPForm label {
	text-align: right;
	width: 40%;
	margin-left: 2%;
	margin-right: 1%;
}

.registerLPForm .registerButton {
	width: auto;
	margin-left: 43%;
}

.registerLPForm h2 {
	margin-left: 7%;
}

.registerLPForm select {
	width: 10%;
}

.deleteLPForm {
	margin-bottom: 20%;
}

.deletePlateContainer {
	margin-top: 5%;
}

form .updateButton {
	margin-left: 1%;
	width: auto;
}

/* for limiting size of state dropdown if desired
.stateSelectContainer {
	height: 10px;
	position: relative;
}
*/

.stateSelectContainer select {
	position: absolute;
}

.messageFormContainer {
	  width: 60%;
	  height: 250px;
	  border: 1px solid black;
	  box-sizing: border-box;
	  display:inline-block;
	  margin-left: 20%;
		background-color: white;
}

.messageFormContainer label {
	width: 15%;
	margin-left: 2%;
	margin-right: 1%;
	vertical-align: top;
	text-align: right;
}

.messageFormContainer input {
	width: 20%;
}

#lpMessage {
	width: 65%;
	height: 15px;
}

.sendMessageButton {
	margin-left: 18%;
}


.deleteMessageButtonContainer {
	float: right;
	height: auto;
	margin-right: 3%;
}

.deleteMsgButton {
	width: auto;

}

.messageContainer {
	clear: both;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	/*position: relative;*/
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.messageContainer textarea {
	width: 80%;
	border: none;
	height: 40px;
	resize: none;
	margin-bottom: 10px;
}

.col-40 {
  width: 48%;
  height: auto;
	min-height: 400px;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
  display:inline-block;
  float: left;
	margin-left: 1%;

}

.errorList {
	color: red;
	list-style: circle;
	display: block;
	text-decoration: none;
	margin-top: 5px;
	padding: 0;
}

.errorList li {
	text-align: left;
	margin-left: 15%;
}

.col-40 h2 {
	text-align: center;
	margin-top: 20px;
}

.col-40 h3 {
	text-align: center;
	margin-top: 20px;
	color: black;
}

#signInForm {
	text-align: left;
	width: auto;
}

#signInForm label {
	display: inline-block;
	margin-left: 15%;
	width: 20%;
	text-align: right;
}

#signInForm input {
	width: 40%;
	margin-left: 1%;
}

#signInForm div {
	margin-top: 5%;
}

#signInForm .loginButton {
	width: auto;
	margin-left: 36%;
}
