ul
  li Menu
    ul
      li
        a(href='/license_plate/' + userData._id + '/user_home') User Home
      li
        a(href='/license_plate/' + userData._id + '/sendLPM') Send Message
      li
        a(href='/license_plate/' + userData._id + '/sent_messages') View Sent Messages
      li 
        a(href='/license_plate/' + userData._id + '/manage_plate') Manage Plate
      li 
        a(href='/license_plate/logout') Logout
