ul
  li Menu
    ul
      li
        a(href='/license_plate/'+ userData._id + '/register_lp') Register Plate
      li 
        a(href='/license_plate/' + userData._id + '/manage_plate') Manage Plate
      li Sent Messages
      li 
        a(href='/license_plate/logout') Logout
