label(for='stateSelect') Choose State: 
select#stateSelect
	option(value="AL" name='state') Alabama
	option(value="AK" name='state') Alaska
	option(value="AZ" name='state') Arizona
	option(value="AR" name='state') Arkansas
	option(value="CA" name='state') California
	option(value="CO" name='state') Colorado
	option(value="CT" name='state') Connecticut
	option(value="DE" name='state') Delaware
	option(value="DC" name='state') District Of Columbia
	option(value="FL" name='state') Florida
	option(value="GA" name='state') Georgia
	option(value="HI" name='state') Hawaii
	option(value="ID" name='state') Idaho
	option(value="IL" name='state') Illinois
	option(value="IN" name='state') Indiana
	option(value="IA" name='state') Iowa
	option(value="KS" name='state') Kansas
	option(value="KY" name='state') Kentucky
	option(value="LA" name='state') Louisiana
	option(value="ME" name='state') Maine
	option(value="MD" name='state') Maryland
	option(value="MA" name='state') Massachusetts
	option(value="MI" name='state') Michigan
	option(value="MN" name='state') Minnesota
	option(value="MS" name='state') Mississippi
	option(value="MO" name='state') Missouri
	option(value="MT" name='state') Montana
	option(value="NE" name='state') Nebraska
	option(value="NV" name='state') Nevada
	option(value="NH" name='state') New Hampshire
	option(value="NJ" name='state') New Jersey
	option(value="NM" name='state') New Mexico
	option(value="NY" name='state') New York
	option(value="NC" name='state') North Carolina
	option(value="ND" name='state') North Dakota
	option(value="OH" name='state') Ohio
	option(value="OK" name='state') Oklahoma
	option(value="OR" name='state') Oregon
	option(value="PA" name='state') Pennsylvania
	option(value="RI" name='state') Rhode Island
	option(value="SC" name='state') South Carolina
	option(value="SD" name='state') South Dakota
	option(value="TN" name='state') Tennessee
	option(value="TX" name='state') Texas
	option(value="UT" name='state') Utah
	option(value="VT" name='state') Vermont
	option(value="VA" name='state') Virginia
	option(value="WA" name='state') Washington
	option(value="WV" name='state') West Virginia
	option(value="WI" name='state') Wisconsin
	option(value="WY" name='state') Wyoming
